{% extends "@EasyAdmin/default/layout.html.twig" %}

{% block main %}
    <!-- prepare a DOM container with width and height -->
    <div id="main" style="width: 600px;height:400px;"></div>
{% endblock main %}
{% block body_javascript %}
    <script type="text/javascript">
        $('document').ready(function () {
            // based on prepared DOM, initialize echarts instance
            var myChart = echarts.init(document.getElementById('main'));
            // use configuration item and data specified to show chart
            myChart.setOption({{ option|json_encode|raw }});
        });
    </script>
{% endblock %}