{% extends "@EasyAdmin/default/layout.html.twig" %}

{% block main %}
    <!-- prepare a DOM container with width and height -->
    <div id="main" style="width: 600px;height:400px;"></div>
{% endblock main %}
 {% block body_javascript %}
     <script type="text/javascript">
         $('document').ready(function () {
             // based on prepared DOM, initialize echarts instance
             var myChart = echarts.init(document.getElementById('main'));
             // use configuration item and data specified to show chart
             myChart.setOption({{ option|json_encode|raw }});
             // specify chart configuration item and data
             option = {

                 // Make gradient line here
                 visualMap: [{
                     show: false
                 }],
                 title: [{
                     text: 'Budjet de l\'année',
                     subtext: '2014',
                     x: 'center'
                 }],
                 tooltip: {
                     trigger: 'axis'
                 },
                 xAxis: [{
                     type: 'category',
                     axisTick: {show: false},
                     splitLine: {
                         show: true,
                         onZero: true,
                         lineStyle: {type: 'dashed'}
                     },
                     data: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai']
                 }],
                 yAxis: [{
                     axisLabel: {show: false},
                     axisTick: {show: false},
                     axisLine: {show: false},
                     splitLine: {show: false}
                 }],
                 series: [{
                     type: 'line',
                     label: {
                         normal: {
                             show: true
                         }
                     },
                     data: [1353, 305, 1452, -769, 4800]
                 }]
             };
         });
     </script>
 {% endblock %}
